[submodule "components/micro_ros_espidf_component"]
	path = components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component.git
[submodule "components/as5600_espidf_component"]
	path = components/as5600_espidf_component
	url = https://github.com/andrinwinzap/as5600_espidf_component.git
