[submodule "components/micro_ros_espidf_component"]
	path = components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component.git
[submodule "components/as5600"]
	path = components/as5600
	url = https://github.com/andrinwinzap/as5600_espidf_component.git
[submodule "components/pid"]
	path = components/pid
	url = https://github.com/andrinwinzap/pid_espidf_component.git
